
      
.operator{
 color: rgba(27, 25, 25, 0.783);
 
 
 background-color: hsla(35, 33%, 90%, 0.974);

 }
 .operator:hover{
 color: rgba(27, 25, 25, 0.883);
 
 
 background-color: hsla(35, 33%, 90%, 0.974);

 }
 .operator:active{
 color: rgba(27, 25, 25, 0.1000);
 
 
 background-color: hsla(35, 33%, 90%, 0.974);

 }

 .pray{
   background-color: hsl(35, 100%, 55%);
 }
 .pray:hover{
   background-color: hsl(35, 100%, 65%);
 }
 .pray:active{
   background-color: hsl(35, 100%, 85%);
 }
 button{
width: 100px;
height: 100px;
border-radius: 50px;
border: none;
background-color: hsl(0, 0%, 30%);
color: white;
font-size: 3rem;

cursor: pointer;
}
#keys{
display: grid;
grid-template-columns: repeat(4,1fr) ;
gap: 10px;
padding: 25px;

}
#calculator{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius: 15px;
background-color:  hsl(0, 0%, 15%);
max-width: 500px;
overflow: hidden;

}
#display{
width: 100%;
padding: 20px;
font-size: 5rem;
text-align: left;
border: none;
background-color:  hsl(0, 0%, 20%);
color: blanchedalmond;

}
body{
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color:  hsl(0, 0%, 95%);

}
button:hover{
background-color:    hsl(0, 0%, 40%);
}
button:active{
background-color:    hsl(0, 0%, 50%);
}


    